.edit-password-container {
  margin-top: 10px;
  padding: 35px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-password-form-style {
  margin-top: 10px;
  padding: 35px 0 0;
  display: flex;
  justify-content: center;
}

.edit-password-button-style {
  margin: 20px;
  width: 40%;
}
