/* Label Styles */
.label-style {
  position: absolute;
  user-select: none;
}

.label-as-placeholder {
  color: #999;
  transform: translate(0.8rem, 0.3rem);
  transition: all 0.2s ease-out;
  padding: 0 3px 0;
}

.label-as-placeholder:hover {
  cursor: text;
}

.label-on-input-focus {
  cursor: default;
  color: #111;
  background-color: white;
  transform: translate(0.1rem, -0.7rem) scale(0.8);
}

.label-above-input {
  transform: translate(0.2rem, -0.9rem);
}

/* Input Styles */
/* .input-style::-webkit-scrollbar {
  width: 1rem;
} */

.input-style:focus {
  border-color: #111;
  box-shadow: none;
}

.input-error {
  border-color: red;
}

/* Error Styles */
.error-style {
  transform: translate(0.3rem, 0);
  min-height: 25px;
  max-width: 87%;
  margin-bottom: 10px;
}

.form-text {
  color: red;
}

/* Show Hide Styles */
.show-hide {
  color: #999;
  cursor: pointer;
  width: 50px;
  text-align: center;
  user-select: none;
}

.show-hide {
  position: relative;
  top: 5px;
  left: 4px;
  font-weight: 500;
}
